body {
    background-color: #f4f4f4;
}

.color-box{
    width: 100px;
    height: 100px;
}
v
.color1{
    background-color: #33ff57;
}

.color2{
    background-color: rgb(128, 0, 128);
}

.color3{
    background-color: orange;
}

.color4{
    background-color: hsl(59, 61%, 26%);
}

.color5{
    background-color: red;
}